{
    "parser": "babel-eslint",
    "plugins": ["react"],
    "extends": ["eslint:recommended", "plugin:react/recommended", "airbnb-base/legacy"],
    "rules": {
        "semi": 0,
        "class-methods-use-this": 0
    },
    "globals": {
        "React": false,
        "document": false,
        "_": false,
        "test": false,
        "expect": false,
        "beforeEach": false
    }
}
